/* Projects Section */

#projects{
    position: relative;
    height: auto;
}

.color-container {
    border-color: whitesmoke;
    background: rgb(34, 34, 34);
}

.project-img{
    border-radius: 0.25rem;
    width: 100%;
    max-width: 70%;
    min-width: 300px;
    height: 90%;
}

.project-title{
    margin: 1rem;
    color: white;
}

.project-btn{
    color: white;
    border-color: whitesmoke;
}

.further-details-container{
    padding: 1.5rem;
    flex: 1;
    border-radius: 1rem;
    border: whitesmoke 0.1rem solid;
    border-color: whitesmoke;
    text-align: center;
}

.project-sub-title{
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.project-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-shields{
    text-align: center;
    gap: 1rem;
    margin: 1rem;
    padding: 0.5rem;
}

.project-tldr{
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.project-containers{
    gap: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    /* width: 80vw;
    white-space: nowrap;
    overflow-x: auto; */
}

.project-containers, .project-details-container{
    display: flex;
    justify-content: center;
}

.project-description-details{
    line-height: 2rem;
    gap: 1rem;
    padding: 0.5rem;
    text-align: left;
}

.project-btn-container{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.project-thumbnail-vid{
    border-radius: 0.25rem;
    width: 100%;
    max-width: 70%;
    min-width: 300px;
    height: 90%;
}

.project-tldr-description{
    text-align: center;
    line-height: 25px;
}

.project-page{
    position: relative;
    height: auto;
}

mark{
    background-color: whitesmoke;
    color: black;
}


