/* width */
::-webkit-scrollbar {
    width: 0rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #575757; 
    border-radius: 1rem;
    overflow: hidden;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3d3d3d; 
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #242424; 
    border-radius: 1rem;
  }